<div *ngIf="alert" [class]="'uk-alert-' + alert?.type" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p>
    {{ alert?.message }}
  </p>
</div>
<form [formGroup]="formGroup" (submit)="onSubmit($event)">
  <mat-form-field class="uk-width-1-1">
    <mat-label> Ingresa tu correo electrónico</mat-label>
    <input
      matInput
      type="email"
      placeholder="edd@ejemplo.com"
      formControlName="email"
      required
    />
    <mat-error *ngIf="f.email && f.email.hasError('required')">
      Debes ingresar un valor
    </mat-error>
    <mat-error *ngIf="f.email && f.email.hasError('email')">
      No es un email valido
    </mat-error>
  </mat-form-field>
  <mat-form-field class="uk-width-1-1">
    <mat-label>Ingresa tu constraseña</mat-label>
    <input
      matInput
      type="password"
      placeholder="P@ssw0rd"
      formControlName="password"
      required
    />
    <mat-error *ngIf="f.password && f.password.hasError('required')">
      Debes ingresar un valor
    </mat-error>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Ingresar</button>
</form>
